<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.null</key>
	<string>_null.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.ss01</key>
	<string>A_.ss01.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.ss01</key>
	<string>B_.ss01.glif</string>
	<key>B.ss02</key>
	<string>B_.ss02.glif</string>
	<key>B.ss03</key>
	<string>B_.ss03.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.ss01</key>
	<string>C_.ss01.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.ss01</key>
	<string>D_.ss01.glif</string>
	<key>D.ss02</key>
	<string>D_.ss02.glif</string>
	<key>D.ss03</key>
	<string>D_.ss03.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.ss01</key>
	<string>E_.ss01.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.ss01</key>
	<string>F_.ss01.glif</string>
	<key>F.ss02</key>
	<string>F_.ss02.glif</string>
	<key>F.ss03</key>
	<string>F_.ss03.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.ss01</key>
	<string>G_.ss01.glif</string>
	<key>G.ss02</key>
	<string>G_.ss02.glif</string>
	<key>G.ss03</key>
	<string>G_.ss03.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.ss01</key>
	<string>H_.ss01.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I.ss01</key>
	<string>I_.ss01.glif</string>
	<key>I.ss02</key>
	<string>I_.ss02.glif</string>
	<key>I.ss03</key>
	<string>I_.ss03.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.ss01</key>
	<string>J_.ss01.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.ss01</key>
	<string>K_.ss01.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.ss01</key>
	<string>M_.ss01.glif</string>
	<key>M.ss02</key>
	<string>M_.ss02.glif</string>
	<key>M.ss03</key>
	<string>M_.ss03.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.ss01</key>
	<string>N_.ss01.glif</string>
	<key>N.ss02</key>
	<string>N_.ss02.glif</string>
	<key>N.ss03</key>
	<string>N_.ss03.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.ss01</key>
	<string>O_.ss01.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.ss01</key>
	<string>P_.ss01.glif</string>
	<key>P.ss02</key>
	<string>P_.ss02.glif</string>
	<key>P.ss03</key>
	<string>P_.ss03.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.ss01</key>
	<string>R_.ss01.glif</string>
	<key>R.ss02</key>
	<string>R_.ss02.glif</string>
	<key>R.ss03</key>
	<string>R_.ss03.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.ss01</key>
	<string>S_.ss01.glif</string>
	<key>S.ss02</key>
	<string>S_.ss02.glif</string>
	<key>S.ss03</key>
	<string>S_.ss03.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.ss01</key>
	<string>T_.ss01.glif</string>
	<key>T.ss02</key>
	<string>T_.ss02.glif</string>
	<key>T.ss03</key>
	<string>T_.ss03.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.ss01</key>
	<string>U_.ss01.glif</string>
	<key>U.ss02</key>
	<string>U_.ss02.glif</string>
	<key>U.ss03</key>
	<string>U_.ss03.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V.ss01</key>
	<string>V_.ss01.glif</string>
	<key>V.ss02</key>
	<string>V_.ss02.glif</string>
	<key>V.ss03</key>
	<string>V_.ss03.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.ss01</key>
	<string>W_.ss01.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>X.ss01</key>
	<string>X_.ss01.glif</string>
	<key>X.ss02</key>
	<string>X_.ss02.glif</string>
	<key>X.ss03</key>
	<string>X_.ss03.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.ss01</key>
	<string>Y_.ss01.glif</string>
	<key>Y.ss02</key>
	<string>Y_.ss02.glif</string>
	<key>Y.ss03</key>
	<string>Y_.ss03.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Z.ss01</key>
	<string>Z_.ss01.glif</string>
	<key>Z.ss02</key>
	<string>Z_.ss02.glif</string>
	<key>Z.ss03</key>
	<string>Z_.ss03.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.ss01</key>
	<string>a.ss01.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b.ss01</key>
	<string>b.ss01.glif</string>
	<key>b.ss02</key>
	<string>b.ss02.glif</string>
	<key>b.ss03</key>
	<string>b.ss03.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.ss01</key>
	<string>c.ss01.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.ss01</key>
	<string>d.ss01.glif</string>
	<key>d.ss02</key>
	<string>d.ss02.glif</string>
	<key>d.ss03</key>
	<string>d.ss03.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.ss01</key>
	<string>e.ss01.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.ss01</key>
	<string>f.ss01.glif</string>
	<key>f.ss02</key>
	<string>f.ss02.glif</string>
	<key>f.ss03</key>
	<string>f.ss03.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>g.ss02</key>
	<string>g.ss02.glif</string>
	<key>g.ss03</key>
	<string>g.ss03.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h.ss01</key>
	<string>h.ss01.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.ss01</key>
	<string>i.ss01.glif</string>
	<key>i.ss02</key>
	<string>i.ss02.glif</string>
	<key>i.ss03</key>
	<string>i.ss03.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.ss01</key>
	<string>j.ss01.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.ss01</key>
	<string>k.ss01.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m.ss01</key>
	<string>m.ss01.glif</string>
	<key>m.ss02</key>
	<string>m.ss02.glif</string>
	<key>m.ss03</key>
	<string>m.ss03.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.ss01</key>
	<string>n.ss01.glif</string>
	<key>n.ss02</key>
	<string>n.ss02.glif</string>
	<key>n.ss03</key>
	<string>n.ss03.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o.ss01</key>
	<string>o.ss01.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p.ss01</key>
	<string>p.ss01.glif</string>
	<key>p.ss02</key>
	<string>p.ss02.glif</string>
	<key>p.ss03</key>
	<string>p.ss03.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.ss01</key>
	<string>r.ss01.glif</string>
	<key>r.ss02</key>
	<string>r.ss02.glif</string>
	<key>r.ss03</key>
	<string>r.ss03.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.ss01</key>
	<string>s.ss01.glif</string>
	<key>s.ss02</key>
	<string>s.ss02.glif</string>
	<key>s.ss03</key>
	<string>s.ss03.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.ss01</key>
	<string>t.ss01.glif</string>
	<key>t.ss02</key>
	<string>t.ss02.glif</string>
	<key>t.ss03</key>
	<string>t.ss03.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.ss01</key>
	<string>u.ss01.glif</string>
	<key>u.ss02</key>
	<string>u.ss02.glif</string>
	<key>u.ss03</key>
	<string>u.ss03.glif</string>
	<key>uni00A0</key>
	<string>uni00A_0.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v.ss01</key>
	<string>v.ss01.glif</string>
	<key>v.ss02</key>
	<string>v.ss02.glif</string>
	<key>v.ss03</key>
	<string>v.ss03.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w.ss01</key>
	<string>w.ss01.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>x.ss01</key>
	<string>x.ss01.glif</string>
	<key>x.ss02</key>
	<string>x.ss02.glif</string>
	<key>x.ss03</key>
	<string>x.ss03.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.ss01</key>
	<string>y.ss01.glif</string>
	<key>y.ss02</key>
	<string>y.ss02.glif</string>
	<key>y.ss03</key>
	<string>y.ss03.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>z.ss01</key>
	<string>z.ss01.glif</string>
	<key>z.ss02</key>
	<string>z.ss02.glif</string>
	<key>z.ss03</key>
	<string>z.ss03.glif</string>
</dict>
</plist>
