<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>Delta</string>
      <string>uni2206</string>
      <string>uni25B3</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>AE</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>uni1EBC</string>
      <string>OE</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.Germandbls</key>
    <array>
      <string>uni1E9E</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>Hcircumflex</string>
      <string>I</string>
      <string>IJ</string>
      <string>J</string>
      <string>uni004A0301</string>
      <string>Jcircumflex</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>uni0145</string>
      <string>Ntilde</string>
      <string>Eng</string>
      <string>one</string>
      <string>.notdef</string>
      <string>paragraph</string>
      <string>uni27F3</string>
      <string>uni25A1</string>
      <string>Jdotaccent</string>
    </array>
    <key>public.kern1.Hbar</key>
    <array>
      <string>Hbar</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>uni0136</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>uni013B</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>Ldot.ss04</string>
      <string>Ldot.ss05</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>uni018F</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>uni0122</string>
      <string>Gdotaccent</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>uni0218</string>
      <string>Omega</string>
      <string>at</string>
      <string>copyright</string>
      <string>registered</string>
      <string>estimated</string>
      <string>dollar</string>
      <string>uni27F2</string>
      <string>circle</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>uni0156</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>uni0162</string>
      <string>uni021A</string>
    </array>
    <key>public.kern1.Thorn</key>
    <array>
      <string>Thorn</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>uni1EF8</string>
      <string>yen</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
    </array>
    <key>public.kern1.ampersand</key>
    <array>
      <string>ampersand</string>
    </array>
    <key>public.kern1.approxequal</key>
    <array>
      <string>approxequal</string>
    </array>
    <key>public.kern1.asciicircum</key>
    <array>
      <string>asciicircum</string>
    </array>
    <key>public.kern1.asciitilde</key>
    <array>
      <string>asciitilde</string>
    </array>
    <key>public.kern1.asterisk</key>
    <array>
      <string>asterisk</string>
    </array>
    <key>public.kern1.asterism</key>
    <array>
      <string>uni2042</string>
    </array>
    <key>public.kern1.backslash</key>
    <array>
      <string>backslash</string>
    </array>
    <key>public.kern1.bar</key>
    <array>
      <string>bar</string>
      <string>brokenbar</string>
    </array>
    <key>public.kern1.braceleft</key>
    <array>
      <string>braceleft</string>
    </array>
    <key>public.kern1.braceright</key>
    <array>
      <string>braceright</string>
    </array>
    <key>public.kern1.bracketleft</key>
    <array>
      <string>bracketleft</string>
    </array>
    <key>public.kern1.bracketright</key>
    <array>
      <string>bracketright</string>
    </array>
    <key>public.kern1.bullet</key>
    <array>
      <string>bullet</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
      <string>colon.ss04</string>
      <string>semicolon.ss04</string>
      <string>colon.ss05</string>
      <string>semicolon.ss05</string>
    </array>
    <key>public.kern1.comma</key>
    <array>
      <string>comma</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern1.currency</key>
    <array>
      <string>currency</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>d</string>
    </array>
    <key>public.kern1.dagger</key>
    <array>
      <string>dagger</string>
    </array>
    <key>public.kern1.daggerdbl</key>
    <array>
      <string>daggerdbl</string>
    </array>
    <key>public.kern1.dcaron</key>
    <array>
      <string>dcaron</string>
    </array>
    <key>public.kern1.dcroat</key>
    <array>
      <string>dcroat</string>
    </array>
    <key>public.kern1.degree</key>
    <array>
      <string>degree</string>
    </array>
    <key>public.kern1.divide</key>
    <array>
      <string>divide</string>
    </array>
    <key>public.kern1.equal</key>
    <array>
      <string>equal</string>
      <string>notequal</string>
    </array>
    <key>public.kern1.equal.dnom</key>
    <array>
      <string>equal.dnom</string>
      <string>equal.numr</string>
      <string>equal.sups</string>
    </array>
    <key>public.kern1.eth</key>
    <array>
      <string>eth</string>
    </array>
    <key>public.kern1.euro</key>
    <array>
      <string>Euro</string>
    </array>
    <key>public.kern1.exclam</key>
    <array>
      <string>exclam</string>
      <string>exclam.ss04</string>
      <string>exclam.ss05</string>
    </array>
    <key>public.kern1.exclamdown</key>
    <array>
      <string>exclamdown</string>
      <string>exclamdown.ss04</string>
      <string>exclamdown.ss05</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern1.five</key>
    <array>
      <string>five</string>
    </array>
    <key>public.kern1.five.dnom</key>
    <array>
      <string>five.dnom</string>
      <string>five.numr</string>
      <string>five.subs</string>
      <string>uni2075</string>
    </array>
    <key>public.kern1.five.osf</key>
    <array>
      <string>five.osf</string>
    </array>
    <key>public.kern1.florin</key>
    <array>
      <string>florin</string>
    </array>
    <key>public.kern1.four</key>
    <array>
      <string>four</string>
    </array>
    <key>public.kern1.four.dnom</key>
    <array>
      <string>four.dnom</string>
      <string>four.numr</string>
      <string>four.subs</string>
      <string>uni2074</string>
    </array>
    <key>public.kern1.four.osf</key>
    <array>
      <string>four.osf</string>
    </array>
    <key>public.kern1.fraction</key>
    <array>
      <string>fraction</string>
    </array>
    <key>public.kern1.g.ss01</key>
    <array>
      <string>g.ss01</string>
      <string>gbreve.ss01</string>
      <string>gcircumflex.ss01</string>
      <string>uni0123.ss01</string>
      <string>gdotaccent.ss01</string>
    </array>
    <key>public.kern1.germandbls</key>
    <array>
      <string>germandbls</string>
    </array>
    <key>public.kern1.greater</key>
    <array>
      <string>greater</string>
    </array>
    <key>public.kern1.greaterequal</key>
    <array>
      <string>greaterequal</string>
    </array>
    <key>public.kern1.guilsinglleft</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.guilsinglright</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>uni00AD</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>i</string>
      <string>dotlessi</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>i.loclTRK</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>j</string>
      <string>uni0237</string>
      <string>uni006A0301</string>
      <string>jcircumflex</string>
      <string>fi</string>
    </array>
    <key>public.kern1.infinity</key>
    <array>
      <string>infinity</string>
    </array>
    <key>public.kern1.integral</key>
    <array>
      <string>integral</string>
    </array>
    <key>public.kern1.j</key>
    <array>
      <string>ij</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>uni0137</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>uni013C</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>ldot.ss04</string>
      <string>ldot.ss05</string>
      <string>fl</string>
    </array>
    <key>public.kern1.l.ss02</key>
    <array>
      <string>l.ss02</string>
      <string>lacute.ss02</string>
      <string>lcaron.ss02</string>
      <string>uni013C.ss02</string>
      <string>lslash.ss02</string>
      <string>fl.ss02</string>
    </array>
    <key>public.kern1.less</key>
    <array>
      <string>less</string>
    </array>
    <key>public.kern1.lessequal</key>
    <array>
      <string>lessequal</string>
    </array>
    <key>public.kern1.literSign</key>
    <array>
      <string>uni2113</string>
    </array>
    <key>public.kern1.logicalnot</key>
    <array>
      <string>logicalnot</string>
    </array>
    <key>public.kern1.minus</key>
    <array>
      <string>minus</string>
    </array>
    <key>public.kern1.minus.dnom</key>
    <array>
      <string>minus.dnom</string>
      <string>minus.numr</string>
      <string>minus.subs</string>
      <string>minus.sups</string>
    </array>
    <key>public.kern1.minute</key>
    <array>
      <string>minute</string>
      <string>second</string>
    </array>
    <key>public.kern1.multiply</key>
    <array>
      <string>multiply</string>
    </array>
    <key>public.kern1.multiply.dnom</key>
    <array>
      <string>multiply.dnom</string>
      <string>multiply.numr</string>
      <string>multiply.subs</string>
      <string>multiply.sups</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>uni0123</string>
      <string>gdotaccent</string>
      <string>h</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>uni0146</string>
      <string>ntilde</string>
      <string>eng</string>
      <string>q</string>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>y.ss03</string>
      <string>yacute.ss03</string>
      <string>ycircumflex.ss03</string>
      <string>ydieresis.ss03</string>
      <string>ygrave.ss03</string>
      <string>uni00B5</string>
      <string>uni25FB</string>
    </array>
    <key>public.kern1.nine</key>
    <array>
      <string>nine</string>
    </array>
    <key>public.kern1.nine.dnom</key>
    <array>
      <string>nine.dnom</string>
      <string>nine.numr</string>
      <string>nine.subs</string>
      <string>uni2079</string>
    </array>
    <key>public.kern1.nine.osf</key>
    <array>
      <string>nine.osf</string>
    </array>
    <key>public.kern1.numbersign</key>
    <array>
      <string>numbersign</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>ae</string>
      <string>b</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>uni1EBD</string>
      <string>uni0259</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>thorn</string>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>uni0219</string>
      <string>uni26AA</string>
      <string>cent</string>
    </array>
    <key>public.kern1.one.dnom</key>
    <array>
      <string>one.dnom</string>
      <string>one.numr</string>
      <string>one.subs</string>
      <string>uni00B9</string>
    </array>
    <key>public.kern1.one.osf</key>
    <array>
      <string>one.osf</string>
    </array>
    <key>public.kern1.onehalf</key>
    <array>
      <string>onehalf</string>
    </array>
    <key>public.kern1.onequarter</key>
    <array>
      <string>onequarter</string>
      <string>threequarters</string>
    </array>
    <key>public.kern1.onethird</key>
    <array>
      <string>uni2153</string>
      <string>uni2154</string>
    </array>
    <key>public.kern1.ordfeminine</key>
    <array>
      <string>ordfeminine</string>
    </array>
    <key>public.kern1.ordmasculine</key>
    <array>
      <string>ordmasculine</string>
    </array>
    <key>public.kern1.parenleft</key>
    <array>
      <string>parenleft</string>
    </array>
    <key>public.kern1.parenleft.dnom</key>
    <array>
      <string>parenleft.dnom</string>
      <string>parenleft.numr</string>
      <string>parenleft.subs</string>
      <string>parenleft.sups</string>
    </array>
    <key>public.kern1.parenright</key>
    <array>
      <string>parenright</string>
    </array>
    <key>public.kern1.parenright.dnom</key>
    <array>
      <string>parenright.dnom</string>
      <string>parenright.numr</string>
      <string>parenright.subs</string>
      <string>parenright.sups</string>
    </array>
    <key>public.kern1.partialdiff</key>
    <array>
      <string>partialdiff</string>
    </array>
    <key>public.kern1.percent</key>
    <array>
      <string>percent</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>period</string>
      <string>ellipsis</string>
      <string>period.ss04</string>
      <string>ellipsis.ss04</string>
      <string>period.ss05</string>
      <string>ellipsis.ss05</string>
    </array>
    <key>public.kern1.period.dnom</key>
    <array>
      <string>period.dnom</string>
      <string>period.numr</string>
      <string>period.dnom.ss04</string>
      <string>period.numr.ss04</string>
      <string>period.dnom.ss05</string>
      <string>period.numr.ss05</string>
      <string>period.subs</string>
      <string>period.sups</string>
      <string>period.subs.ss04</string>
      <string>period.sups.ss04</string>
      <string>period.subs.ss05</string>
      <string>period.sups.ss05</string>
    </array>
    <key>public.kern1.periodcentered</key>
    <array>
      <string>periodcentered</string>
      <string>periodcentered.ss04</string>
      <string>periodcentered.ss05</string>
      <string>uni2219</string>
    </array>
    <key>public.kern1.perthousand</key>
    <array>
      <string>perthousand</string>
    </array>
    <key>public.kern1.pi</key>
    <array>
      <string>pi</string>
    </array>
    <key>public.kern1.plus</key>
    <array>
      <string>plus</string>
    </array>
    <key>public.kern1.plus.dnom</key>
    <array>
      <string>plus.dnom</string>
      <string>plus.numr</string>
      <string>plus.subs</string>
      <string>plus.sups</string>
    </array>
    <key>public.kern1.plusminus</key>
    <array>
      <string>plusminus</string>
    </array>
    <key>public.kern1.product</key>
    <array>
      <string>product</string>
    </array>
    <key>public.kern1.question</key>
    <array>
      <string>question</string>
      <string>question.ss04</string>
      <string>question.ss05</string>
    </array>
    <key>public.kern1.questiondown</key>
    <array>
      <string>questiondown</string>
      <string>questiondown.ss04</string>
      <string>questiondown.ss05</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>uni0157</string>
    </array>
    <key>public.kern1.radical</key>
    <array>
      <string>radical</string>
    </array>
    <key>public.kern1.section</key>
    <array>
      <string>section</string>
    </array>
    <key>public.kern1.seven</key>
    <array>
      <string>seven</string>
    </array>
    <key>public.kern1.seven.dnom</key>
    <array>
      <string>seven.dnom</string>
      <string>seven.numr</string>
      <string>seven.subs</string>
      <string>uni2077</string>
    </array>
    <key>public.kern1.seven.osf</key>
    <array>
      <string>seven.osf</string>
    </array>
    <key>public.kern1.six</key>
    <array>
      <string>six</string>
    </array>
    <key>public.kern1.six.dnom</key>
    <array>
      <string>six.dnom</string>
      <string>six.numr</string>
      <string>six.subs</string>
      <string>uni2076</string>
    </array>
    <key>public.kern1.six.osf</key>
    <array>
      <string>six.osf</string>
    </array>
    <key>public.kern1.slash</key>
    <array>
      <string>slash</string>
    </array>
    <key>public.kern1.space</key>
    <array>
      <string>space</string>
      <string>uni00A0</string>
      <string>CR</string>
    </array>
    <key>public.kern1.sterling</key>
    <array>
      <string>sterling</string>
    </array>
    <key>public.kern1.summation</key>
    <array>
      <string>summation</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>uni0163</string>
      <string>uni021B</string>
    </array>
    <key>public.kern1.trademark</key>
    <array>
      <string>trademark</string>
    </array>
    <key>public.kern1.two</key>
    <array>
      <string>two</string>
    </array>
    <key>public.kern1.two.dnom</key>
    <array>
      <string>two.dnom</string>
      <string>two.numr</string>
      <string>two.subs</string>
      <string>uni00B2</string>
    </array>
    <key>public.kern1.two.osf</key>
    <array>
      <string>two.osf</string>
    </array>
    <key>public.kern1.underscore</key>
    <array>
      <string>underscore</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>uni1EF9</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern1.zero</key>
    <array>
      <string>zero</string>
      <string>three</string>
      <string>eight</string>
      <string>zero.zero</string>
    </array>
    <key>public.kern1.zero.dnom</key>
    <array>
      <string>zero.dnom</string>
      <string>three.dnom</string>
      <string>eight.dnom</string>
      <string>zero.numr</string>
      <string>three.numr</string>
      <string>eight.numr</string>
      <string>zero.dnom.zero</string>
      <string>zero.numr.zero</string>
      <string>zero.subs</string>
      <string>three.subs</string>
      <string>eight.subs</string>
      <string>uni2070</string>
      <string>uni00B3</string>
      <string>uni2078</string>
      <string>zero.subs.zero</string>
      <string>uni2070.zero</string>
    </array>
    <key>public.kern1.zero.osf</key>
    <array>
      <string>zero.osf</string>
      <string>three.osf</string>
      <string>eight.osf</string>
      <string>zero.osf.zero</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>Delta</string>
      <string>uni2206</string>
      <string>uni25B3</string>
    </array>
    <key>public.kern2.AE</key>
    <array>
      <string>AE</string>
    </array>
    <key>public.kern2.Eth</key>
    <array>
      <string>Dcroat</string>
      <string>Eth</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>uni1EBC</string>
      <string>F</string>
      <string>H</string>
      <string>Hcircumflex</string>
      <string>I</string>
      <string>IJ</string>
      <string>K</string>
      <string>uni0136</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>uni013B</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>uni0145</string>
      <string>Ntilde</string>
      <string>Eng</string>
      <string>P</string>
      <string>Thorn</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>uni0156</string>
      <string>uni1E9E</string>
      <string>Ldot.ss04</string>
      <string>Ldot.ss05</string>
      <string>.notdef</string>
      <string>uni27F2</string>
      <string>uni25A1</string>
    </array>
    <key>public.kern2.Hbar</key>
    <array>
      <string>Hbar</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>uni004A0301</string>
      <string>Jcircumflex</string>
      <string>Jdotaccent</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>uni018F</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>uni0122</string>
      <string>Gdotaccent</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Q</string>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>uni0218</string>
      <string>Omega</string>
      <string>at</string>
      <string>copyright</string>
      <string>registered</string>
      <string>estimated</string>
      <string>dollar</string>
      <string>uni27F3</string>
      <string>circle</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>uni0162</string>
      <string>uni021A</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>uni1EF8</string>
      <string>yen</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
    </array>
    <key>public.kern2.ampersand</key>
    <array>
      <string>ampersand</string>
    </array>
    <key>public.kern2.approxequal</key>
    <array>
      <string>approxequal</string>
    </array>
    <key>public.kern2.asciicircum</key>
    <array>
      <string>asciicircum</string>
    </array>
    <key>public.kern2.asciitilde</key>
    <array>
      <string>asciitilde</string>
    </array>
    <key>public.kern2.asterisk</key>
    <array>
      <string>asterisk</string>
    </array>
    <key>public.kern2.asterism</key>
    <array>
      <string>uni2042</string>
    </array>
    <key>public.kern2.backslash</key>
    <array>
      <string>backslash</string>
    </array>
    <key>public.kern2.bar</key>
    <array>
      <string>bar</string>
      <string>brokenbar</string>
    </array>
    <key>public.kern2.braceleft</key>
    <array>
      <string>braceleft</string>
    </array>
    <key>public.kern2.braceright</key>
    <array>
      <string>braceright</string>
    </array>
    <key>public.kern2.bracketleft</key>
    <array>
      <string>bracketleft</string>
    </array>
    <key>public.kern2.bracketright</key>
    <array>
      <string>bracketright</string>
    </array>
    <key>public.kern2.bullet</key>
    <array>
      <string>bullet</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
      <string>colon.ss04</string>
      <string>semicolon.ss04</string>
      <string>colon.ss05</string>
      <string>semicolon.ss05</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>comma</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2.currency</key>
    <array>
      <string>currency</string>
    </array>
    <key>public.kern2.dagger</key>
    <array>
      <string>dagger</string>
    </array>
    <key>public.kern2.daggerdbl</key>
    <array>
      <string>daggerdbl</string>
    </array>
    <key>public.kern2.degree</key>
    <array>
      <string>degree</string>
    </array>
    <key>public.kern2.divide</key>
    <array>
      <string>divide</string>
    </array>
    <key>public.kern2.equal</key>
    <array>
      <string>equal</string>
      <string>notequal</string>
    </array>
    <key>public.kern2.equal.dnom</key>
    <array>
      <string>equal.dnom</string>
      <string>equal.numr</string>
      <string>equal.sups</string>
    </array>
    <key>public.kern2.euro</key>
    <array>
      <string>Euro</string>
    </array>
    <key>public.kern2.exclam</key>
    <array>
      <string>exclam</string>
      <string>exclam.ss04</string>
      <string>exclam.ss05</string>
    </array>
    <key>public.kern2.exclamdown</key>
    <array>
      <string>exclamdown</string>
      <string>exclamdown.ss04</string>
      <string>exclamdown.ss05</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>fi</string>
      <string>fl</string>
      <string>fl.ss02</string>
    </array>
    <key>public.kern2.five</key>
    <array>
      <string>five</string>
    </array>
    <key>public.kern2.five.dnom</key>
    <array>
      <string>five.dnom</string>
      <string>five.numr</string>
      <string>five.subs</string>
      <string>uni2075</string>
    </array>
    <key>public.kern2.five.osf</key>
    <array>
      <string>five.osf</string>
    </array>
    <key>public.kern2.florin</key>
    <array>
      <string>florin</string>
    </array>
    <key>public.kern2.four</key>
    <array>
      <string>four</string>
    </array>
    <key>public.kern2.four.dnom</key>
    <array>
      <string>four.dnom</string>
      <string>four.numr</string>
      <string>four.subs</string>
      <string>uni2074</string>
    </array>
    <key>public.kern2.four.osf</key>
    <array>
      <string>four.osf</string>
    </array>
    <key>public.kern2.fraction</key>
    <array>
      <string>fraction</string>
    </array>
    <key>public.kern2.g.ss01</key>
    <array>
      <string>g.ss01</string>
      <string>gbreve.ss01</string>
      <string>gcircumflex.ss01</string>
      <string>uni0123.ss01</string>
      <string>gdotaccent.ss01</string>
    </array>
    <key>public.kern2.greater</key>
    <array>
      <string>greater</string>
    </array>
    <key>public.kern2.greaterequal</key>
    <array>
      <string>greaterequal</string>
    </array>
    <key>public.kern2.guilsinglleft</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.guilsinglright</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.h</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>k</string>
      <string>uni0137</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>uni013C</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>thorn</string>
      <string>germandbls</string>
      <string>l.ss02</string>
      <string>lacute.ss02</string>
      <string>lcaron.ss02</string>
      <string>uni013C.ss02</string>
      <string>ldot.ss02</string>
      <string>lslash.ss02</string>
      <string>ldot.ss04</string>
      <string>ldot.ss05</string>
      <string>ldot.ss02.ss04</string>
      <string>ldot.ss02.ss05</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>uni00AD</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>dotlessi</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>i.loclTRK</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>ij</string>
    </array>
    <key>public.kern2.infinity</key>
    <array>
      <string>infinity</string>
    </array>
    <key>public.kern2.integral</key>
    <array>
      <string>integral</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>j</string>
      <string>uni0237</string>
      <string>uni006A0301</string>
      <string>jcircumflex</string>
    </array>
    <key>public.kern2.less</key>
    <array>
      <string>less</string>
    </array>
    <key>public.kern2.lessequal</key>
    <array>
      <string>lessequal</string>
    </array>
    <key>public.kern2.literSign</key>
    <array>
      <string>uni2113</string>
    </array>
    <key>public.kern2.logicalnot</key>
    <array>
      <string>logicalnot</string>
    </array>
    <key>public.kern2.minus</key>
    <array>
      <string>minus</string>
    </array>
    <key>public.kern2.minus.dnom</key>
    <array>
      <string>minus.dnom</string>
      <string>minus.numr</string>
      <string>minus.subs</string>
      <string>minus.sups</string>
    </array>
    <key>public.kern2.minute</key>
    <array>
      <string>minute</string>
      <string>second</string>
    </array>
    <key>public.kern2.multiply</key>
    <array>
      <string>multiply</string>
    </array>
    <key>public.kern2.multiply.dnom</key>
    <array>
      <string>multiply.dnom</string>
      <string>multiply.numr</string>
      <string>multiply.subs</string>
      <string>multiply.sups</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>uni0146</string>
      <string>ntilde</string>
      <string>eng</string>
      <string>p</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>uni0157</string>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>y.ss03</string>
      <string>yacute.ss03</string>
      <string>ycircumflex.ss03</string>
      <string>ydieresis.ss03</string>
      <string>ygrave.ss03</string>
      <string>uni00B5</string>
      <string>uni25FB</string>
    </array>
    <key>public.kern2.nine</key>
    <array>
      <string>nine</string>
    </array>
    <key>public.kern2.nine.dnom</key>
    <array>
      <string>nine.dnom</string>
      <string>nine.numr</string>
      <string>nine.subs</string>
      <string>uni2079</string>
    </array>
    <key>public.kern2.nine.osf</key>
    <array>
      <string>nine.osf</string>
    </array>
    <key>public.kern2.numbersign</key>
    <array>
      <string>numbersign</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>eth</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>uni1EBD</string>
      <string>uni0259</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>uni0123</string>
      <string>gdotaccent</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>q</string>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>uni0219</string>
      <string>uni26AA</string>
      <string>cent</string>
    </array>
    <key>public.kern2.one</key>
    <array>
      <string>one</string>
    </array>
    <key>public.kern2.one.dnom</key>
    <array>
      <string>one.dnom</string>
      <string>one.numr</string>
      <string>one.subs</string>
      <string>uni00B9</string>
    </array>
    <key>public.kern2.one.osf</key>
    <array>
      <string>one.osf</string>
    </array>
    <key>public.kern2.onehalf</key>
    <array>
      <string>onehalf</string>
      <string>uni2153</string>
      <string>onequarter</string>
    </array>
    <key>public.kern2.ordfeminine</key>
    <array>
      <string>ordfeminine</string>
    </array>
    <key>public.kern2.ordmasculine</key>
    <array>
      <string>ordmasculine</string>
    </array>
    <key>public.kern2.paragraph</key>
    <array>
      <string>paragraph</string>
    </array>
    <key>public.kern2.parenleft</key>
    <array>
      <string>parenleft</string>
    </array>
    <key>public.kern2.parenleft.dnom</key>
    <array>
      <string>parenleft.dnom</string>
      <string>parenleft.numr</string>
      <string>parenleft.subs</string>
      <string>parenleft.sups</string>
    </array>
    <key>public.kern2.parenright</key>
    <array>
      <string>parenright</string>
    </array>
    <key>public.kern2.parenright.dnom</key>
    <array>
      <string>parenright.dnom</string>
      <string>parenright.numr</string>
      <string>parenright.subs</string>
      <string>parenright.sups</string>
    </array>
    <key>public.kern2.partialdiff</key>
    <array>
      <string>partialdiff</string>
    </array>
    <key>public.kern2.percent</key>
    <array>
      <string>percent</string>
      <string>perthousand</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>period</string>
      <string>ellipsis</string>
      <string>period.ss04</string>
      <string>ellipsis.ss04</string>
      <string>period.ss05</string>
      <string>ellipsis.ss05</string>
    </array>
    <key>public.kern2.period.dnom</key>
    <array>
      <string>period.dnom</string>
      <string>period.numr</string>
      <string>period.dnom.ss04</string>
      <string>period.numr.ss04</string>
      <string>period.dnom.ss05</string>
      <string>period.numr.ss05</string>
      <string>period.subs</string>
      <string>period.sups</string>
      <string>period.subs.ss04</string>
      <string>period.sups.ss04</string>
      <string>period.subs.ss05</string>
      <string>period.sups.ss05</string>
    </array>
    <key>public.kern2.periodcentered</key>
    <array>
      <string>periodcentered</string>
      <string>periodcentered.ss04</string>
      <string>periodcentered.ss05</string>
      <string>uni2219</string>
    </array>
    <key>public.kern2.pi</key>
    <array>
      <string>pi</string>
    </array>
    <key>public.kern2.plus</key>
    <array>
      <string>plus</string>
    </array>
    <key>public.kern2.plus.dnom</key>
    <array>
      <string>plus.dnom</string>
      <string>plus.numr</string>
      <string>plus.subs</string>
      <string>plus.sups</string>
    </array>
    <key>public.kern2.plusminus</key>
    <array>
      <string>plusminus</string>
    </array>
    <key>public.kern2.product</key>
    <array>
      <string>product</string>
    </array>
    <key>public.kern2.question</key>
    <array>
      <string>question</string>
      <string>question.ss04</string>
      <string>question.ss05</string>
    </array>
    <key>public.kern2.questiondown</key>
    <array>
      <string>questiondown</string>
      <string>questiondown.ss04</string>
      <string>questiondown.ss05</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.radical</key>
    <array>
      <string>radical</string>
    </array>
    <key>public.kern2.section</key>
    <array>
      <string>section</string>
    </array>
    <key>public.kern2.seven</key>
    <array>
      <string>seven</string>
    </array>
    <key>public.kern2.seven.dnom</key>
    <array>
      <string>seven.dnom</string>
      <string>seven.numr</string>
      <string>seven.subs</string>
      <string>uni2077</string>
    </array>
    <key>public.kern2.seven.osf</key>
    <array>
      <string>seven.osf</string>
    </array>
    <key>public.kern2.six</key>
    <array>
      <string>six</string>
    </array>
    <key>public.kern2.six.dnom</key>
    <array>
      <string>six.dnom</string>
      <string>six.numr</string>
      <string>six.subs</string>
      <string>uni2076</string>
    </array>
    <key>public.kern2.six.osf</key>
    <array>
      <string>six.osf</string>
    </array>
    <key>public.kern2.slash</key>
    <array>
      <string>slash</string>
    </array>
    <key>public.kern2.space</key>
    <array>
      <string>space</string>
      <string>uni00A0</string>
      <string>CR</string>
    </array>
    <key>public.kern2.sterling</key>
    <array>
      <string>sterling</string>
    </array>
    <key>public.kern2.summation</key>
    <array>
      <string>summation</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>uni0163</string>
      <string>uni021B</string>
    </array>
    <key>public.kern2.threequarters</key>
    <array>
      <string>threequarters</string>
    </array>
    <key>public.kern2.trademark</key>
    <array>
      <string>trademark</string>
    </array>
    <key>public.kern2.two</key>
    <array>
      <string>two</string>
    </array>
    <key>public.kern2.two.dnom</key>
    <array>
      <string>two.dnom</string>
      <string>two.numr</string>
      <string>two.subs</string>
      <string>uni00B2</string>
    </array>
    <key>public.kern2.two.osf</key>
    <array>
      <string>two.osf</string>
    </array>
    <key>public.kern2.twothirds</key>
    <array>
      <string>uni2154</string>
    </array>
    <key>public.kern2.underscore</key>
    <array>
      <string>underscore</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>uni1EF9</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern2.zero</key>
    <array>
      <string>zero</string>
      <string>three</string>
      <string>eight</string>
      <string>zero.zero</string>
    </array>
    <key>public.kern2.zero.dnom</key>
    <array>
      <string>zero.dnom</string>
      <string>three.dnom</string>
      <string>eight.dnom</string>
      <string>zero.numr</string>
      <string>three.numr</string>
      <string>eight.numr</string>
      <string>zero.dnom.zero</string>
      <string>zero.numr.zero</string>
      <string>zero.subs</string>
      <string>three.subs</string>
      <string>eight.subs</string>
      <string>uni2070</string>
      <string>uni00B3</string>
      <string>uni2078</string>
      <string>zero.subs.zero</string>
      <string>uni2070.zero</string>
    </array>
    <key>public.kern2.zero.osf</key>
    <array>
      <string>zero.osf</string>
      <string>three.osf</string>
      <string>eight.osf</string>
      <string>zero.osf.zero</string>
    </array>
  </dict>
</plist>
