<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Ldot</key>
    <dict>
      <key>public.kern2.H</key>
      <integer>0</integer>
    </dict>
    <key>Ldot.ss04</key>
    <dict>
      <key>public.kern2.H</key>
      <integer>0</integer>
    </dict>
    <key>Ldot.ss05</key>
    <dict>
      <key>public.kern2.H</key>
      <integer>0</integer>
    </dict>
    <key>imacron</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>30</integer>
    </dict>
    <key>itilde</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>40</integer>
    </dict>
    <key>jcircumflex</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>30</integer>
    </dict>
    <key>lcaron</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-90</integer>
      <key>public.kern2.V</key>
      <integer>-75</integer>
      <key>public.kern2.W</key>
      <integer>-60</integer>
      <key>public.kern2.X</key>
      <integer>-15</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.asterisk</key>
      <integer>-60</integer>
      <key>public.kern2.backslash</key>
      <integer>-20</integer>
      <key>public.kern2.bullet</key>
      <integer>-10</integer>
      <key>public.kern2.exclam</key>
      <integer>-15</integer>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-20</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>5</integer>
      <key>public.kern2.hyphen</key>
      <integer>-70</integer>
      <key>public.kern2.periodcentered</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <integer>-40</integer>
      <key>public.kern2.quoteright</key>
      <integer>-100</integer>
      <key>public.kern2.space</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.trademark</key>
      <integer>-60</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.w</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.comma</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.AE</key>
      <integer>-130</integer>
      <key>public.kern2.H</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-15</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.ampersand</key>
      <integer>-50</integer>
      <key>public.kern2.bullet</key>
      <integer>-10</integer>
      <key>public.kern2.colon</key>
      <integer>-10</integer>
      <key>public.kern2.comma</key>
      <integer>-100</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-12</integer>
      <key>public.kern2.hyphen</key>
      <integer>-15</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-110</integer>
      <key>public.kern2.quoteright</key>
      <integer>10</integer>
      <key>public.kern2.slash</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.Germandbls</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>-10</integer>
      <key>public.kern2.four</key>
      <integer>-20</integer>
      <key>public.kern2.nine</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
      <key>public.kern2.seven</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.bullet</key>
      <integer>-60</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.periodcentered</key>
      <integer>-50</integer>
      <key>public.kern2.space</key>
      <integer>-15</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-10</integer>
      <key>public.kern2.z</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.H</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.W</key>
      <integer>-45</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.asterisk</key>
      <integer>-80</integer>
      <key>public.kern2.backslash</key>
      <integer>-60</integer>
      <key>public.kern2.bullet</key>
      <integer>-70</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-5</integer>
      <key>public.kern2.hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.periodcentered</key>
      <integer>-80</integer>
      <key>public.kern2.question</key>
      <integer>-60</integer>
      <key>public.kern2.quoteright</key>
      <integer>-70</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>public.kern2.w</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.AE</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>-25</integer>
      <key>public.kern2.X</key>
      <integer>-15</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-45</integer>
      <key>public.kern2.exclam</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.question</key>
      <integer>-10</integer>
      <key>public.kern2.quoteright</key>
      <integer>-10</integer>
      <key>public.kern2.slash</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.AE</key>
      <integer>-130</integer>
      <key>public.kern2.T</key>
      <integer>-15</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Z</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.bullet</key>
      <integer>-10</integer>
      <key>public.kern2.comma</key>
      <integer>-140</integer>
      <key>public.kern2.exclam</key>
      <integer>-20</integer>
      <key>public.kern2.f</key>
      <integer>20</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-140</integer>
      <key>public.kern2.periodcentered</key>
      <integer>-10</integer>
      <key>public.kern2.slash</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-5</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>eth</key>
      <integer>-80</integer>
      <key>imacron</key>
      <integer>30</integer>
      <key>itilde</key>
      <integer>40</integer>
      <key>jcircumflex</key>
      <integer>20</integer>
      <key>public.kern2.A</key>
      <integer>-90</integer>
      <key>public.kern2.AE</key>
      <integer>-130</integer>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <integer>-25</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-33</integer>
      <key>public.kern2.ampersand</key>
      <integer>-50</integer>
      <key>public.kern2.braceright</key>
      <integer>20</integer>
      <key>public.kern2.bracketright</key>
      <integer>20</integer>
      <key>public.kern2.bullet</key>
      <integer>-20</integer>
      <key>public.kern2.colon</key>
      <integer>-35</integer>
      <key>public.kern2.comma</key>
      <integer>-80</integer>
      <key>public.kern2.exclam</key>
      <integer>-10</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-50</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.i</key>
      <integer>10</integer>
      <key>public.kern2.j</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.parenright</key>
      <integer>10</integer>
      <key>public.kern2.period</key>
      <integer>-80</integer>
      <key>public.kern2.periodcentered</key>
      <integer>-20</integer>
      <key>public.kern2.slash</key>
      <integer>-40</integer>
      <key>public.kern2.space</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.Thorn</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.Z</key>
      <integer>-50</integer>
      <key>public.kern2.comma</key>
      <integer>-60</integer>
      <key>public.kern2.period</key>
      <integer>-70</integer>
      <key>public.kern2.quoteright</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.comma</key>
      <integer>-50</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.question</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-75</integer>
      <key>public.kern2.AE</key>
      <integer>-120</integer>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.ampersand</key>
      <integer>-40</integer>
      <key>public.kern2.bullet</key>
      <integer>-10</integer>
      <key>public.kern2.colon</key>
      <integer>-30</integer>
      <key>public.kern2.comma</key>
      <integer>-80</integer>
      <key>public.kern2.exclam</key>
      <integer>-20</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-28</integer>
      <key>public.kern2.hyphen</key>
      <integer>-70</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-80</integer>
      <key>public.kern2.periodcentered</key>
      <integer>-10</integer>
      <key>public.kern2.quoteright</key>
      <integer>10</integer>
      <key>public.kern2.slash</key>
      <integer>-50</integer>
      <key>public.kern2.space</key>
      <integer>-30</integer>
      <key>public.kern2.underscore</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.AE</key>
      <integer>-90</integer>
      <key>public.kern2.J</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.ampersand</key>
      <integer>-30</integer>
      <key>public.kern2.colon</key>
      <integer>-15</integer>
      <key>public.kern2.comma</key>
      <integer>-70</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-28</integer>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.n</key>
      <integer>-15</integer>
      <key>public.kern2.o</key>
      <integer>-18</integer>
      <key>public.kern2.period</key>
      <integer>-60</integer>
      <key>public.kern2.quoteright</key>
      <integer>10</integer>
      <key>public.kern2.slash</key>
      <integer>-10</integer>
      <key>public.kern2.space</key>
      <integer>-15</integer>
      <key>public.kern2.underscore</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-15</integer>
      <key>public.kern2.O</key>
      <integer>-15</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-8</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.bullet</key>
      <integer>-70</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.periodcentered</key>
      <integer>-70</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.AE</key>
      <integer>-130</integer>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.X</key>
      <integer>-8</integer>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.ampersand</key>
      <integer>-40</integer>
      <key>public.kern2.bullet</key>
      <integer>-20</integer>
      <key>public.kern2.colon</key>
      <integer>-35</integer>
      <key>public.kern2.comma</key>
      <integer>-110</integer>
      <key>public.kern2.exclam</key>
      <integer>-20</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-50</integer>
      <key>public.kern2.hyphen</key>
      <integer>-80</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-100</integer>
      <key>public.kern2.periodcentered</key>
      <integer>-10</integer>
      <key>public.kern2.quoteright</key>
      <integer>10</integer>
      <key>public.kern2.slash</key>
      <integer>-40</integer>
      <key>public.kern2.space</key>
      <integer>-30</integer>
      <key>public.kern2.underscore</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.AE</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.bullet</key>
      <integer>-60</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-60</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.periodcentered</key>
      <integer>-60</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.asterisk</key>
      <integer>-10</integer>
      <key>public.kern2.question</key>
      <integer>-10</integer>
      <key>public.kern2.quoteright</key>
      <integer>-10</integer>
      <key>public.kern2.trademark</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.ampersand</key>
    <dict>
      <key>public.kern2.space</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.backslash</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.braceleft</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>20</integer>
      <key>public.kern2.four</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.bracketleft</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>20</integer>
      <key>public.kern2.four</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.bullet</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.colon</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.comma</key>
    <dict>
      <key>public.kern2.one</key>
      <integer>-15</integer>
      <key>public.kern2.quoteright</key>
      <integer>-20</integer>
      <key>public.kern2.two</key>
      <integer>30</integer>
      <key>public.kern2.zero</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.dcaron</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>70</integer>
      <key>public.kern2.h</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.dcroat</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.eth</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.exclam</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>40</integer>
      <key>public.kern2.V</key>
      <integer>30</integer>
      <key>public.kern2.W</key>
      <integer>30</integer>
      <key>public.kern2.Y</key>
      <integer>20</integer>
      <key>public.kern2.asterisk</key>
      <integer>30</integer>
      <key>public.kern2.backslash</key>
      <integer>60</integer>
      <key>public.kern2.bar</key>
      <integer>20</integer>
      <key>public.kern2.braceright</key>
      <integer>60</integer>
      <key>public.kern2.bracketright</key>
      <integer>60</integer>
      <key>public.kern2.bullet</key>
      <integer>-30</integer>
      <key>public.kern2.comma</key>
      <integer>-50</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-10</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.parenright</key>
      <integer>80</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.periodcentered</key>
      <integer>-30</integer>
      <key>public.kern2.question</key>
      <integer>20</integer>
      <key>public.kern2.quoteright</key>
      <integer>50</integer>
      <key>public.kern2.t</key>
      <integer>10</integer>
      <key>public.kern2.v</key>
      <integer>20</integer>
      <key>public.kern2.w</key>
      <integer>15</integer>
    </dict>
    <key>public.kern1.five</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.five.dnom</key>
    <dict>
      <key>public.kern2.period.dnom</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.five.osf</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>-20</integer>
      <key>public.kern2.one.osf</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.four</key>
    <dict>
      <key>public.kern2.one</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.four.dnom</key>
    <dict>
      <key>public.kern2.one.dnom</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.four.osf</key>
    <dict>
      <key>public.kern2.degree</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.one.osf</key>
      <integer>-20</integer>
      <key>public.kern2.zero.osf</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.fraction</key>
    <dict>
      <key>public.kern2.four.dnom</key>
      <integer>-38</integer>
      <key>public.kern2.seven.dnom</key>
      <integer>20</integer>
      <key>public.kern2.six.dnom</key>
      <integer>-25</integer>
      <key>public.kern2.two.dnom</key>
      <integer>5</integer>
      <key>public.kern2.zero.dnom</key>
      <integer>-5</integer>
      <key>three.dnom</key>
      <integer>5</integer>
    </dict>
    <key>public.kern1.g.ss01</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-5</integer>
      <key>public.kern2.asterisk</key>
      <integer>20</integer>
      <key>public.kern2.f</key>
      <integer>20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-15</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.quoteright</key>
      <integer>15</integer>
      <key>public.kern2.t</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.germandbls</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.guilsinglleft</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>5</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.one.osf</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.guilsinglright</key>
    <dict>
      <key>public.kern2.space</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.W</key>
      <integer>-60</integer>
      <key>public.kern2.X</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.Z</key>
      <integer>-60</integer>
      <key>public.kern2.f</key>
      <integer>-20</integer>
      <key>public.kern2.four.osf</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
      <key>public.kern2.one</key>
      <integer>-20</integer>
      <key>public.kern2.one.osf</key>
      <integer>-20</integer>
      <key>public.kern2.seven</key>
      <integer>-10</integer>
      <key>public.kern2.seven.osf</key>
      <integer>-30</integer>
      <key>public.kern2.two</key>
      <integer>-20</integer>
      <key>public.kern2.two.osf</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>public.kern2.w</key>
      <integer>-30</integer>
      <key>public.kern2.x</key>
      <integer>-30</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.bullet</key>
      <integer>-60</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.periodcentered</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>10</integer>
      <key>public.kern2.braceright</key>
      <integer>20</integer>
      <key>public.kern2.bracketright</key>
      <integer>20</integer>
      <key>public.kern2.bullet</key>
      <integer>-50</integer>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.h</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>10</integer>
      <key>public.kern2.parenright</key>
      <integer>20</integer>
      <key>public.kern2.periodcentered</key>
      <integer>-60</integer>
      <key>public.kern2.question</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.l.ss02</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>80</integer>
      <key>public.kern2.bullet</key>
      <integer>-20</integer>
      <key>public.kern2.periodcentered</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-15</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.W</key>
      <integer>-15</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.quoteright</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.nine</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.braceright</key>
      <integer>-20</integer>
      <key>public.kern2.bracketright</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-100</integer>
      <key>public.kern2.degree</key>
      <integer>20</integer>
      <key>public.kern2.exclam</key>
      <integer>-20</integer>
      <key>public.kern2.four</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.parenright</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-100</integer>
      <key>public.kern2.six</key>
      <integer>-30</integer>
      <key>public.kern2.slash</key>
      <integer>-30</integer>
      <key>public.kern2.sterling</key>
      <integer>-20</integer>
      <key>public.kern2.zero</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.nine.dnom</key>
    <dict>
      <key>public.kern2.four.dnom</key>
      <integer>-10</integer>
      <key>public.kern2.fraction</key>
      <integer>-40</integer>
      <key>public.kern2.period.dnom</key>
      <integer>-45</integer>
      <key>public.kern2.six.dnom</key>
      <integer>-20</integer>
      <key>public.kern2.zero.dnom</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.nine.osf</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>-60</integer>
      <key>public.kern2.four.osf</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-60</integer>
      <key>public.kern2.six.osf</key>
      <integer>-20</integer>
      <key>public.kern2.two.osf</key>
      <integer>-10</integer>
      <key>public.kern2.zero.osf</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.W</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.Z</key>
      <integer>-30</integer>
      <key>public.kern2.backslash</key>
      <integer>-10</integer>
      <key>public.kern2.comma</key>
      <integer>-30</integer>
      <key>public.kern2.exclam</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-5</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-30</integer>
      <key>public.kern2.question</key>
      <integer>-15</integer>
      <key>public.kern2.quoteright</key>
      <integer>-20</integer>
      <key>public.kern2.slash</key>
      <integer>-10</integer>
      <key>public.kern2.trademark</key>
      <integer>-20</integer>
      <key>public.kern2.underscore</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-5</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.one.dnom</key>
    <dict>
      <key>public.kern2.four.dnom</key>
      <integer>-10</integer>
      <key>public.kern2.fraction</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.one.osf</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.parenleft</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>10</integer>
      <key>public.kern2.four</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.f</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.quoteright</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-70</integer>
      <key>public.kern2.w</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.period.dnom</key>
    <dict>
      <key>public.kern2.zero.dnom</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.periodcentered</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.questiondown</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.W</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-15</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.quoteleft</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-110</integer>
      <key>public.kern2.J</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>10</integer>
      <key>public.kern2.W</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>10</integer>
      <key>public.kern2.five.osf</key>
      <integer>-20</integer>
      <key>public.kern2.four</key>
      <integer>-80</integer>
      <key>public.kern2.four.osf</key>
      <integer>-100</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-35</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.one.osf</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-70</integer>
      <key>public.kern2.six</key>
      <integer>-40</integer>
      <key>public.kern2.six.osf</key>
      <integer>-60</integer>
      <key>public.kern2.two.osf</key>
      <integer>-15</integer>
      <key>public.kern2.zero</key>
      <integer>-10</integer>
      <key>public.kern2.zero.osf</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-90</integer>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>-15</integer>
      <key>public.kern2.T</key>
      <integer>35</integer>
      <key>public.kern2.V</key>
      <integer>30</integer>
      <key>public.kern2.W</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>30</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-30</integer>
      <key>public.kern2.i</key>
      <integer>10</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
      <key>public.kern2.t</key>
      <integer>30</integer>
      <key>public.kern2.v</key>
      <integer>5</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-25</integer>
      <key>public.kern2.bullet</key>
      <integer>-40</integer>
      <key>public.kern2.colon</key>
      <integer>-15</integer>
      <key>public.kern2.comma</key>
      <integer>-90</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-15</integer>
      <key>public.kern2.h</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-65</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-90</integer>
      <key>public.kern2.periodcentered</key>
      <integer>-50</integer>
      <key>public.kern2.quoteright</key>
      <integer>25</integer>
      <key>public.kern2.slash</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.seven</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>-110</integer>
      <key>public.kern2.degree</key>
      <integer>20</integer>
      <key>public.kern2.four</key>
      <integer>-60</integer>
      <key>public.kern2.hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.nine</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-110</integer>
      <key>public.kern2.quoteright</key>
      <integer>20</integer>
      <key>public.kern2.six</key>
      <integer>-20</integer>
      <key>public.kern2.slash</key>
      <integer>-30</integer>
      <key>public.kern2.space</key>
      <integer>-30</integer>
      <key>public.kern2.zero</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.seven.dnom</key>
    <dict>
      <key>public.kern2.four.dnom</key>
      <integer>-30</integer>
      <key>public.kern2.fraction</key>
      <integer>-35</integer>
      <key>public.kern2.nine.dnom</key>
      <integer>-5</integer>
      <key>public.kern2.period.dnom</key>
      <integer>-50</integer>
      <key>public.kern2.six.dnom</key>
      <integer>-10</integer>
      <key>public.kern2.zero.dnom</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.seven.osf</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>-80</integer>
      <key>public.kern2.degree</key>
      <integer>20</integer>
      <key>public.kern2.four.osf</key>
      <integer>-70</integer>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.nine.osf</key>
      <integer>-10</integer>
      <key>public.kern2.one.osf</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-80</integer>
      <key>public.kern2.quoteright</key>
      <integer>10</integer>
      <key>public.kern2.six.osf</key>
      <integer>-20</integer>
      <key>public.kern2.two.osf</key>
      <integer>-10</integer>
      <key>public.kern2.zero.osf</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.six</key>
    <dict>
      <key>public.kern2.degree</key>
      <integer>-40</integer>
      <key>public.kern2.nine</key>
      <integer>-20</integer>
      <key>public.kern2.one</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.quoteright</key>
      <integer>-20</integer>
      <key>public.kern2.zero</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.six.dnom</key>
    <dict>
      <key>public.kern2.nine.dnom</key>
      <integer>-10</integer>
      <key>public.kern2.one.dnom</key>
      <integer>-10</integer>
      <key>public.kern2.period.dnom</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.six.osf</key>
    <dict>
      <key>public.kern2.degree</key>
      <integer>-30</integer>
      <key>public.kern2.nine.osf</key>
      <integer>-20</integer>
      <key>public.kern2.one.osf</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-30</integer>
      <key>public.kern2.quoteright</key>
      <integer>-30</integer>
      <key>public.kern2.two.osf</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.slash</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.AE</key>
      <integer>-100</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-25</integer>
      <key>public.kern2.four</key>
      <integer>-30</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.seven</key>
      <integer>20</integer>
      <key>public.kern2.zero</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.space</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.AE</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.W</key>
      <integer>-15</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.ampersand</key>
      <integer>-80</integer>
      <key>public.kern2.period</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.bullet</key>
      <integer>-20</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>public.kern2.periodcentered</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.two</key>
    <dict>
      <key>public.kern2.four</key>
      <integer>-25</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.one</key>
      <integer>-20</integer>
      <key>public.kern2.zero</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.two.dnom</key>
    <dict>
      <key>public.kern2.four.dnom</key>
      <integer>-10</integer>
      <key>public.kern2.zero.dnom</key>
      <integer>-3</integer>
    </dict>
    <key>public.kern1.two.osf</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <integer>-10</integer>
      <key>public.kern2.one.osf</key>
      <integer>-40</integer>
      <key>public.kern2.zero.osf</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.underscore</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.W</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.w</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.bullet</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-70</integer>
      <key>public.kern2.exclam</key>
      <integer>-10</integer>
      <key>public.kern2.f</key>
      <integer>20</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-30</integer>
      <key>public.kern2.hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-70</integer>
      <key>public.kern2.periodcentered</key>
      <integer>-10</integer>
      <key>public.kern2.quoteright</key>
      <integer>13</integer>
      <key>public.kern2.slash</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>10</integer>
      <key>public.kern2.underscore</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-15</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.comma</key>
      <integer>-60</integer>
      <key>public.kern2.f</key>
      <integer>15</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-20</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-60</integer>
      <key>public.kern2.quoteright</key>
      <integer>10</integer>
      <key>public.kern2.underscore</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-15</integer>
      <key>public.kern2.V</key>
      <integer>-15</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-5</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-10</integer>
      <key>public.kern2.hyphen</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-5</integer>
      <key>public.kern2.g.ss01</key>
      <integer>-15</integer>
      <key>public.kern2.hyphen</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.zero</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>-40</integer>
      <key>public.kern2.degree</key>
      <integer>-10</integer>
      <key>public.kern2.nine</key>
      <integer>-20</integer>
      <key>public.kern2.one</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.quoteright</key>
      <integer>-5</integer>
      <key>public.kern2.six</key>
      <integer>-20</integer>
      <key>public.kern2.two</key>
      <integer>-10</integer>
      <key>public.kern2.zero</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.zero.dnom</key>
    <dict>
      <key>public.kern2.fraction</key>
      <integer>-20</integer>
      <key>public.kern2.nine.dnom</key>
      <integer>-10</integer>
      <key>public.kern2.period.dnom</key>
      <integer>-20</integer>
      <key>public.kern2.six.dnom</key>
      <integer>-10</integer>
      <key>public.kern2.two.dnom</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.zero.osf</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>-30</integer>
      <key>public.kern2.degree</key>
      <integer>-15</integer>
      <key>public.kern2.nine.osf</key>
      <integer>-20</integer>
      <key>public.kern2.one.osf</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-30</integer>
      <key>public.kern2.quoteright</key>
      <integer>-20</integer>
      <key>public.kern2.six.osf</key>
      <integer>-20</integer>
      <key>public.kern2.two.osf</key>
      <integer>-10</integer>
    </dict>
  </dict>
</plist>
