<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3343</string>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.disablesLastChange</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.font.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>Use Line Breaks</string>
        <key>value</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>Write lastChange</string>
        <key>value</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>Enforce Compatibility Check</string>
        <key>value</key>
        <integer>0</integer>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMaster.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>Master Icon Glyph Name</string>
        <key>value</key>
        <string>a</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>master01</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.instance.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>Filter</string>
        <key>value</key>
        <string>Noodler; 40.0; 1; 1</string>
      </dict>
      <dict>
        <key>name</key>
        <string>Export Folder</string>
        <key>value</key>
        <string>fonts/outline_otf</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.useGlyphOrder</key>
    <false/>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>B</string>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>F</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>uni0122</string>
      <string>Gdotaccent</string>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>J</string>
      <string>uni004A0301</string>
      <string>Jcircumflex</string>
      <string>K</string>
      <string>uni0136</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>uni013B</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>uni0145</string>
      <string>Ntilde</string>
      <string>Eng</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>P</string>
      <string>Thorn</string>
      <string>Q</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>uni0156</string>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>uni0218</string>
      <string>uni1E9E</string>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>uni0162</string>
      <string>uni021A</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Ldot.ss04</string>
      <string>Ldot.ss05</string>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
      <string>b</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>eth</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>f</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>uni0123</string>
      <string>gdotaccent</string>
      <string>h</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>i</string>
      <string>dotlessi</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>i.loclTRK</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>j</string>
      <string>uni0237</string>
      <string>uni006A0301</string>
      <string>jcircumflex</string>
      <string>k</string>
      <string>uni0137</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>uni013C</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>uni0146</string>
      <string>ntilde</string>
      <string>eng</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
      <string>p</string>
      <string>thorn</string>
      <string>q</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>uni0157</string>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>uni0219</string>
      <string>germandbls</string>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>uni0163</string>
      <string>uni021B</string>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>g.ss01</string>
      <string>gbreve.ss01</string>
      <string>gcircumflex.ss01</string>
      <string>uni0123.ss01</string>
      <string>gdotaccent.ss01</string>
      <string>l.ss02</string>
      <string>lacute.ss02</string>
      <string>lcaron.ss02</string>
      <string>uni013C.ss02</string>
      <string>ldot.ss02</string>
      <string>lslash.ss02</string>
      <string>y.ss03</string>
      <string>yacute.ss03</string>
      <string>ycircumflex.ss03</string>
      <string>ydieresis.ss03</string>
      <string>ygrave.ss03</string>
      <string>ldot.ss04</string>
      <string>ldot.ss05</string>
      <string>ldot.ss02.ss04</string>
      <string>ldot.ss02.ss05</string>
      <string>fi</string>
      <string>fl</string>
      <string>fl.ss02</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>Delta</string>
      <string>pi</string>
      <string>Omega</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>zero.zero</string>
      <string>zero.osf</string>
      <string>one.osf</string>
      <string>two.osf</string>
      <string>three.osf</string>
      <string>four.osf</string>
      <string>five.osf</string>
      <string>six.osf</string>
      <string>seven.osf</string>
      <string>eight.osf</string>
      <string>nine.osf</string>
      <string>zero.osf.zero</string>
      <string>zero.dnom</string>
      <string>one.dnom</string>
      <string>two.dnom</string>
      <string>three.dnom</string>
      <string>four.dnom</string>
      <string>five.dnom</string>
      <string>six.dnom</string>
      <string>seven.dnom</string>
      <string>eight.dnom</string>
      <string>nine.dnom</string>
      <string>zero.numr</string>
      <string>one.numr</string>
      <string>two.numr</string>
      <string>three.numr</string>
      <string>four.numr</string>
      <string>five.numr</string>
      <string>six.numr</string>
      <string>seven.numr</string>
      <string>eight.numr</string>
      <string>nine.numr</string>
      <string>fraction</string>
      <string>onehalf</string>
      <string>uni2153</string>
      <string>uni2154</string>
      <string>onequarter</string>
      <string>threequarters</string>
      <string>zero.dnom.zero</string>
      <string>zero.numr.zero</string>
      <string>zero.subs</string>
      <string>one.subs</string>
      <string>two.subs</string>
      <string>three.subs</string>
      <string>four.subs</string>
      <string>five.subs</string>
      <string>six.subs</string>
      <string>seven.subs</string>
      <string>eight.subs</string>
      <string>nine.subs</string>
      <string>uni2070</string>
      <string>uni00B9</string>
      <string>uni00B2</string>
      <string>uni00B3</string>
      <string>uni2074</string>
      <string>uni2075</string>
      <string>uni2076</string>
      <string>uni2077</string>
      <string>uni2078</string>
      <string>uni2079</string>
      <string>zero.subs.zero</string>
      <string>uni2070.zero</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>CR</string>
      <string>.notdef</string>
      <string>parenleft.dnom</string>
      <string>parenright.dnom</string>
      <string>period.dnom</string>
      <string>parenleft.numr</string>
      <string>parenright.numr</string>
      <string>period.numr</string>
      <string>period.dnom.ss04</string>
      <string>period.numr.ss04</string>
      <string>period.dnom.ss05</string>
      <string>period.numr.ss05</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>asterisk</string>
      <string>uni2042</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>periodcentered.loclCAT</string>
      <string>period.ss04</string>
      <string>colon.ss04</string>
      <string>semicolon.ss04</string>
      <string>ellipsis.ss04</string>
      <string>exclam.ss04</string>
      <string>exclamdown.ss04</string>
      <string>question.ss04</string>
      <string>questiondown.ss04</string>
      <string>periodcentered.ss04</string>
      <string>period.ss05</string>
      <string>colon.ss05</string>
      <string>semicolon.ss05</string>
      <string>ellipsis.ss05</string>
      <string>exclam.ss05</string>
      <string>exclamdown.ss05</string>
      <string>question.ss05</string>
      <string>questiondown.ss05</string>
      <string>periodcentered.ss05</string>
      <string>period.subs</string>
      <string>period.sups</string>
      <string>periodcentered.loclCAT.case</string>
      <string>periodcentered.loclCAT.ss02</string>
      <string>periodcentered.loclCAT.ss04</string>
      <string>period.subs.ss04</string>
      <string>period.sups.ss04</string>
      <string>periodcentered.loclCAT.ss05</string>
      <string>period.subs.ss05</string>
      <string>period.sups.ss05</string>
      <string>periodcentered.loclCAT.case.ss04</string>
      <string>periodcentered.loclCAT.ss02.ss04</string>
      <string>periodcentered.loclCAT.case.ss05</string>
      <string>periodcentered.loclCAT.ss02.ss05</string>
      <string>hyphen</string>
      <string>uni00AD</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>parenleft.subs</string>
      <string>parenright.subs</string>
      <string>parenleft.sups</string>
      <string>parenright.sups</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>florin</string>
      <string>plus.dnom</string>
      <string>minus.dnom</string>
      <string>multiply.dnom</string>
      <string>equal.dnom</string>
      <string>plus.numr</string>
      <string>minus.numr</string>
      <string>multiply.numr</string>
      <string>equal.numr</string>
      <string>uni26AA</string>
      <string>at</string>
      <string>ampersand</string>
      <string>paragraph</string>
      <string>section</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>degree</string>
      <string>minute</string>
      <string>second</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>dagger</string>
      <string>uni2113</string>
      <string>daggerdbl</string>
      <string>estimated</string>
      <string>cent</string>
      <string>currency</string>
      <string>dollar</string>
      <string>Euro</string>
      <string>sterling</string>
      <string>yen</string>
      <string>uni2219</string>
      <string>plus</string>
      <string>minus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>notequal</string>
      <string>greater</string>
      <string>less</string>
      <string>greaterequal</string>
      <string>lessequal</string>
      <string>plusminus</string>
      <string>approxequal</string>
      <string>asciitilde</string>
      <string>logicalnot</string>
      <string>asciicircum</string>
      <string>infinity</string>
      <string>integral</string>
      <string>product</string>
      <string>summation</string>
      <string>radical</string>
      <string>uni00B5</string>
      <string>partialdiff</string>
      <string>percent</string>
      <string>perthousand</string>
      <string>plus.subs</string>
      <string>minus.subs</string>
      <string>multiply.subs</string>
      <string>equal.subs</string>
      <string>plus.sups</string>
      <string>minus.sups</string>
      <string>multiply.sups</string>
      <string>equal.sups</string>
      <string>arrowup</string>
      <string>uni2197</string>
      <string>arrowright</string>
      <string>uni2198</string>
      <string>arrowdown</string>
      <string>uni2199</string>
      <string>arrowleft</string>
      <string>uni2196</string>
      <string>arrowboth</string>
      <string>arrowupdn</string>
      <string>uni27F2</string>
      <string>uni27F3</string>
      <string>circle</string>
      <string>uni25C7</string>
      <string>lozenge</string>
      <string>uni25A1</string>
      <string>uni25FB</string>
      <string>uni25B3</string>
      <string>uni25B5</string>
      <string>uni25E3</string>
      <string>uni0308</string>
      <string>uni0307</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>uni030B</string>
      <string>uni030C.alt</string>
      <string>uni0302</string>
      <string>uni030C</string>
      <string>uni0306</string>
      <string>uni030A</string>
      <string>tildecomb</string>
      <string>uni0304</string>
      <string>uni0312</string>
      <string>uni0326</string>
      <string>uni0327</string>
      <string>uni0328</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>grave</string>
      <string>acute</string>
      <string>hungarumlaut</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>breve</string>
      <string>ring</string>
      <string>tilde</string>
      <string>macron</string>
      <string>cedilla</string>
      <string>ogonek</string>
      <string>caron.alt</string>
      <string>Jdotaccent</string>
      <string>null</string>
      <string>_module_g</string>
      <string>_module_n</string>
      <string>_module_rond</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>Delta</key>
      <string>uni2206</string>
      <key>Omega</key>
      <string>uni2126</string>
      <key>afii61289</key>
      <string>uni2113</string>
      <key>arrowNE</key>
      <string>uni2197</string>
      <key>arrowNW</key>
      <string>uni2196</string>
      <key>arrowSE</key>
      <string>uni2198</string>
      <key>arrowSW</key>
      <string>uni2199</string>
      <key>mu</key>
      <string>uni00B5</string>
      <key>onesuperior</key>
      <string>uni00B9</string>
      <key>onethird</key>
      <string>uni2153</string>
      <key>threesuperior</key>
      <string>uni00B3</string>
      <key>twosuperior</key>
      <string>uni00B2</string>
      <key>twothirds</key>
      <string>uni2154</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>_module_g</string>
      <string>_module_n</string>
      <string>_module_rond</string>
    </array>
  </dict>
</plist>
